[submodule "posh-git"]
	path = posh-git
	url = git://github.com/dahlbyk/posh-git.git
[submodule "posh-svn"]
	path = posh-svn
	url = http://github.com/JeremySkinner/posh-svn.git
[submodule "posh-hg"]
	path = posh-hg
	url = http://github.com/JeremySkinner/posh-hg.git
